<head>
    <link rel="stylesheet" href="./assets/styles/login.css">
</head>
<nav>
    <a href="#!" id="home_nav">Home</a>
</nav>
<div class="login">
    <div class="container">
        <form class="wrapper" ng-submit="login()" name="MyForm">
            <div>
                <h1>LOG-IN</h1>
            </div>
            <input type="text" ng-model="email" placeholder="Email"/>
            <input type="password" ng-model="pwd" placeholder="Password"/>
            <input type="submit" value="LOG-IN" />
            <div>
                Not a member?<a href="#!signup">Register</a>
            </div>
        </form>
    </div>
    
</div>
